/* Coolors Exported Palette - coolors.co/e6e1c5-d4cb92-395c6b-80a4ed-bcd3f2 */

$color1: #e6e1c5; //rgba(230, 225, 197, 100)
$color2: #d4cb92; //rgba(212, 203, 146, 100)
$color3: #395c6b; //rgba(57, 92, 107, 100)
$color4: #80a4ed; //rgba(128, 164, 237, 100)
$color5: #bcd3f2; //rgba(188, 211, 242, 100)